<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>labels</key>
	<array>
		<dict>
			<key>sub</key>
			<array>
				<dict>
					<key>sub</key>
					<array>
						<string>卧室</string>
						<string>厨房</string>
						<string>阳台</string>
						<string>客厅</string>
						<string>玄关</string>
						<string>书房</string>
						<string>衣帽间</string>
						<string>浴室</string>
						<string>儿童房</string>
					</array>
					<key>name</key>
					<string>空间</string>
					<key>image</key>
					<string></string>
				</dict>
				<dict>
					<key>sub</key>
					<array>
						<string>简约</string>
						<string>宜家</string>
						<string>小清新</string>
						<string>北欧风情</string>
						<string>田园</string>
						<string>地中海</string>
						<string>森林系</string>
						<string>黑白</string>
						<string>办公</string>
					</array>
					<key>name</key>
					<string>风格</string>
					<key>image</key>
					<string></string>
				</dict>
				<dict>
					<key>sub</key>
					<array>
						<string>衣帽架</string>
						<string>装饰画</string>
						<string>餐桌</string>
						<string>沙发</string>
						<string>灯</string>
						<string>门</string>
						<string>床</string>
						<string>椅</string>
						<string>窗帘</string>
					</array>
					<key>name</key>
					<string>摆件</string>
					<key>image</key>
					<string></string>
				</dict>
			</array>
			<key>name</key>
			<string>家居</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>sub</key>
			<array>
				<dict>
					<key>sub</key>
					<array>
						<string>古镇</string>
						<string>巴黎</string>
						<string>罗马</string>
						<string>马尔代夫</string>
						<string>日本</string>
						<string>意大利</string>
						<string>希腊</string>
						<string>新疆</string>
						<string>威尼斯</string>
					</array>
					<key>name</key>
					<string>世界</string>
					<key>image</key>
					<string></string>
				</dict>
				<dict>
					<key>sub</key>
					<array>
						<string>小镇</string>
						<string>海</string>
						<string>海滩</string>
						<string>夜景</string>
						<string>城堡</string>
						<string>岛屿</string>
						<string>教堂</string>
						<string>瀑布</string>
						<string>埃菲尔铁塔</string>
					</array>
					<key>name</key>
					<string>风景</string>
					<key>image</key>
					<string></string>
				</dict>
				<dict>
					<key>sub</key>
					<array>
						<string>攻略</string>
						<string>客栈</string>
						<string>酒店</string>
					</array>
					<key>name</key>
					<string>沿途</string>
					<key>image</key>
					<string></string>
				</dict>
			</array>
			<key>name</key>
			<string>旅行</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>sub</key>
			<array>
				<dict>
					<key>sub</key>
					<array>
						<string>午餐</string>
						<string>晚餐</string>
						<string>早晨</string>
						<string>料理</string>
						<string>西餐</string>
					</array>
					<key>name</key>
					<string>生活</string>
					<key>image</key>
					<string></string>
				</dict>
				<dict>
					<key>sub</key>
					<array>
						<string>面</string>
						<string>粥</string>
						<string>下午茶</string>
						<string>咖啡</string>
						<string>水果</string>
						<string>酒</string>
						<string>饼干</string>
						<string>肉</string>
						<string>芝士</string>
					</array>
					<key>name</key>
					<string>食物</string>
					<key>image</key>
					<string></string>
				</dict>
				<dict>
					<key>sub</key>
					<array>
						<string>甜点</string>
						<string>蛋糕</string>
						<string>马卡龙</string>
						<string>巧克力</string>
						<string>糖果</string>
						<string>抹茶</string>
						<string>果冻</string>
						<string>星巴克</string>
						<string>蛋挞</string>
					</array>
					<key>name</key>
					<string>点心</string>
					<key>image</key>
					<string></string>
				</dict>
			</array>
			<key>name</key>
			<string>美食</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>sub</key>
			<array>
				<dict>
					<key>sub</key>
					<array>
						<string>布艺</string>
						<string>编织</string>
						<string>钩花</string>
						<string>刺绣</string>
						<string>布艺花</string>
					</array>
					<key>name</key>
					<string>能工巧匠</string>
					<key>image</key>
					<string></string>
				</dict>
				<dict>
					<key>sub</key>
					<array>
						<string>折纸</string>
						<string>剪纸</string>
					</array>
					<key>name</key>
					<string>纸艺</string>
					<key>image</key>
					<string></string>
				</dict>
				<dict>
					<key>sub</key>
					<array>
						<string>瓶子</string>
						<string>纽扣</string>
						<string>粘土</string>
						<string>石头</string>
					</array>
					<key>name</key>
					<string>小物品</string>
					<key>image</key>
					<string></string>
				</dict>
			</array>
			<key>name</key>
			<string>手工</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>sub</key>
			<array>
				<dict>
					<key>sub</key>
					<array>
						<string>围巾</string>
						<string>手饰</string>
						<string>鞋</string>
						<string>耳饰</string>
						<string>戒指</string>
						<string>手表</string>
						<string>帽子</string>
						<string>眼镜</string>
						<string>挂饰</string>
						<string>头饰</string>
						<string>香水</string>
						<string>腰带</string>
					</array>
					<key>name</key>
					<string>单品</string>
					<key>image</key>
					<string></string>
				</dict>
				<dict>
					<key>sub</key>
					<array>
						<string>复古</string>
						<string>欧美</string>
						<string>英伦</string>
						<string>手工</string>
						<string>原创</string>
						<string>牛皮</string>
					</array>
					<key>name</key>
					<string>风格</string>
					<key>image</key>
					<string></string>
				</dict>
				<dict>
					<key>sub</key>
					<array>
						<string>杯子</string>
						<string>灯</string>
						<string>碗</string>
						<string>客厅</string>
						<string>厨房</string>
					</array>
					<key>name</key>
					<string>家居</string>
					<key>image</key>
					<string></string>
				</dict>
				<dict>
					<key>sub</key>
					<array>
						<string>iPhone</string>
						<string>耳机</string>
						<string>数码周边</string>
						<string>相机</string>
						<string>iPhone壳</string>
						<string>iPad</string>
					</array>
					<key>name</key>
					<string>科技</string>
					<key>image</key>
					<string></string>
				</dict>
				<dict>
					<key>sub</key>
					<array>
						<string>本子</string>
						<string>笔</string>
						<string>笔袋</string>
					</array>
					<key>name</key>
					<string>办公</string>
					<key>image</key>
					<string></string>
				</dict>
			</array>
			<key>name</key>
			<string>潮品</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>sub</key>
			<array>
				<dict>
					<key>sub</key>
					<array>
						<string>发型</string>
						<string>长发</string>
						<string>编发</string>
						<string>盘发</string>
						<string>教程</string>
						<string>彩妆</string>
						<string>美甲</string>
						<string>染发</string>
						<string>假睫毛</string>
						<string>短发</string>
						<string>眼妆</string>
						<string>唇妆</string>
						<string>双眼皮</string>
						<string>大片</string>
					</array>
					<key>name</key>
					<string>美妆</string>
					<key>image</key>
					<string></string>
				</dict>
			</array>
			<key>name</key>
			<string>美妆</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>sub</key>
			<array>
				<dict>
					<key>sub</key>
					<array>
						<string>上衣</string>
						<string>毛衣</string>
						<string>风衣</string>
						<string>裙子</string>
						<string>内衣</string>
						<string>衬衫</string>
						<string>裤子</string>
						<string>睡衣</string>
						<string>短裤</string>
						<string>卫衣</string>
						<string>西装</string>
						<string>皮草</string>
					</array>
					<key>name</key>
					<string>时尚穿着</string>
					<key>image</key>
					<string></string>
				</dict>
				<dict>
					<key>sub</key>
					<array>
						<string>短靴</string>
						<string>长靴</string>
						<string>及踝靴</string>
						<string>雪地靴</string>
						<string>马丁靴</string>
						<string>厚底鞋</string>
						<string>平底鞋</string>
						<string>高跟鞋</string>
						<string>豆豆鞋</string>
						<string>单鞋</string>
						<string>球鞋</string>
						<string>运动鞋</string>
					</array>
					<key>name</key>
					<string>美鞋成双</string>
					<key>image</key>
					<string></string>
				</dict>
				<dict>
					<key>sub</key>
					<array>
						<string>撞色</string>
						<string>黑色</string>
						<string>红色</string>
						<string>彩色</string>
						<string>紫色</string>
						<string>绿色</string>
						<string>橙色</string>
						<string>黄色</string>
						<string>渐变色</string>
						<string>蓝色</string>
						<string>咖啡色</string>
						<string>金色</string>
					</array>
					<key>name</key>
					<string>色彩搭配</string>
					<key>image</key>
					<string></string>
				</dict>
				<dict>
					<key>sub</key>
					<array>
						<string>英伦</string>
						<string>欧美</string>
						<string>日韩</string>
						<string>森林系</string>
						<string>混搭</string>
						<string>朋克</string>
						<string>民族</string>
						<string>豹纹</string>
						<string>碎花</string>
						<string>格子</string>
						<string>摇滚</string>
						<string>复古</string>
						<string>宫廷</string>
						<string>甜美</string>
						<string>军装</string>
						<string>古着</string>
						<string>丹宁</string>
						<string>蕾丝</string>
						<string>中性</string>
					</array>
					<key>name</key>
					<string>风格迥异</string>
					<key>image</key>
					<string></string>
				</dict>
			</array>
			<key>name</key>
			<string>服饰</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>sub</key>
			<array>
				<dict>
					<key>sub</key>
					<array>
						<string>街拍</string>
						<string>呛口小辣椒</string>
						<string>潮人</string>
						<string>时装周</string>
						<string>私服</string>
						<string>道晖芝</string>
						<string>秀场</string>
						<string>模特</string>
						<string>LookBook</string>
						<string>大片</string>
						<string>纽约</string>
						<string>巴黎</string>
						<string>范冰冰</string>
					</array>
					<key>name</key>
					<string>潮流达人</string>
					<key>image</key>
					<string></string>
				</dict>
			</array>
			<key>name</key>
			<string>潮流达人</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>sub</key>
			<array>
				<dict>
					<key>sub</key>
					<array>
						<string>HM</string>
						<string>ZARA</string>
						<string>香奈儿</string>
						<string>Gucci</string>
						<string>CK</string>
						<string>GAP</string>
						<string>大嘴猴</string>
						<string>ASOS</string>
						<string>miu miu</string>
					</array>
					<key>name</key>
					<string>大牌聚集</string>
					<key>image</key>
					<string></string>
				</dict>
			</array>
			<key>name</key>
			<string>品牌</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>sub</key>
			<array/>
			<key>name</key>
			<string>婚礼</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>sub</key>
			<array/>
			<key>name</key>
			<string>搭配</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>sub</key>
			<array/>
			<key>name</key>
			<string>型男</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>sub</key>
			<array/>
			<key>name</key>
			<string>汽车</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>sub</key>
			<array/>
			<key>name</key>
			<string>健身</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>sub</key>
			<array/>
			<key>name</key>
			<string>明星</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>sub</key>
			<array/>
			<key>name</key>
			<string>影音</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>sub</key>
			<array/>
			<key>name</key>
			<string>游戏</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>sub</key>
			<array>
				<dict>
					<key>sub</key>
					<array>
						<string>性感</string>
						<string>尤物</string>
						<string>妩媚</string>
						<string>写真</string>
						<string>比基尼</string>
						<string>少女</string>
						<string>小清新</string>
						<string>校花</string>
						<string>萝莉</string>
						<string>街拍</string>
						<string>阳光</string>
						<string>优雅</string>
						<string>车模</string>
						<string>可爱</string>
						<string>文艺</string>
					</array>
					<key>name</key>
					<string>美女</string>
					<key>image</key>
					<string></string>
				</dict>
			</array>
			<key>name</key>
			<string>美女</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>sub</key>
			<array/>
			<key>name</key>
			<string>趣味</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>sub</key>
			<array/>
			<key>name</key>
			<string>宠物</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>sub</key>
			<array/>
			<key>name</key>
			<string>童真</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>sub</key>
			<array/>
			<key>name</key>
			<string>动漫</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>sub</key>
			<array/>
			<key>name</key>
			<string>百科</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>sub</key>
			<array/>
			<key>name</key>
			<string>图示</string>
			<key>image</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
